// Layout

$width              : 40px;
$height             : 80px;
$seg-width          : 5px;
$inactive-color     : #363636;
$active-color       : #e0e0e0;

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background: #212121;
    color: $active-color;
    font-size: 16px;
    overflow: hidden;
}

.hidden {
    display: none;
}

#digital-clock {
    width: 260px;
    height: 80px;
    position: relative;
    top: 50%;
    left: 51%;
    margin-top: -40px;
    margin-left: -130px;

    @include digital-clock;
}

#analog-clock {
    $width: 35em;
    $height: 35em;

    width: $width;
    height: $height;
    position: relative;
    top: 50%;
    margin: 0 auto;
    margin-top: $height / -2;
    overflow: hidden;
    opacity: 0;
    transform: translateX(300%);

    @include analog-clock;
}

.nav {
    position: absolute;
    bottom: 40px;
    text-align: center;
    width: 100%;

    li {
        color: #bbbbbb;
        cursor: pointer;
        border-bottom: 1px solid #ababab;
        padding-bottom: 4px;
        display: inline-block;
        transition: all 0.25s ease-in;

        &:hover, &.active {
            color: #ffffff;
        }

        &:first-child {
            margin-right: 20px;
        }
    }
}

#options {
    width: 200px;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #bbbbbb;
    opacity: 0;
    @include clearfix;

    .label-switch {
        float: left;
    }

    h6 {
        float: left;
        margin-left: 20px;
        padding-top: 10px;
    }
}